<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="{$row.user_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Exhibition_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-exhibition_id" data-rule="required" data-source="exhibition/index" class="form-control selectpage" name="row[exhibition_id]" type="text" value="{$row.exhibition_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ticket_qr_code_url_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-ticket_qr_code_url_img" class="form-control" size="50" name="row[ticket_qr_code_url_img]" type="text" value="{$row.ticket_qr_code_url_img|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-ticket_qr_code_url_img" class="btn btn-danger faupload" data-input-id="c-ticket_qr_code_url_img" data-mime_type="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-ticket_qr_code_url_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-ticket_qr_code_url_img" class="btn btn-primary fachoose" data-input-id="c-ticket_qr_code_url_img" data-mime_type="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-ticket_qr_code_url_img"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-ticket_qr_code_url_img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ticket_desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ticket_desc" data-rule="required" class="form-control" name="row[ticket_desc]" type="text" value="{$row.ticket_desc|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Apply_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-apply_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[apply_time]" type="text" value="{$row.apply_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Enable_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-enable_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[enable_time]" type="text" value="{$row.enable_time}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" class="form-control" name="row[address]" type="text" value="{$row.address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ticket_fee')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ticket_fee" data-rule="required" min="0" class="form-control" step="0.01" name="row[ticket_fee]" type="number" value="{$row.ticket_fee|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ticket_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ticket_name" data-rule="required" class="form-control" name="row[ticket_name]" type="text" value="{$row.ticket_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Ticket_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-ticket_img" data-rule="required" class="form-control" size="50" name="row[ticket_img]" type="text" value="{$row.ticket_img|htmlentities}">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="faupload-ticket_img" class="btn btn-danger faupload" data-input-id="c-ticket_img" data-mime_type="image/gif,image/jpeg,image/png,image/jpg,image/bmp,image/webp" data-multiple="false" data-preview-id="p-ticket_img"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-ticket_img" class="btn btn-primary fachoose" data-input-id="c-ticket_img" data-mime_type="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-ticket_img"></span>
            </div>
            <ul class="row list-inline faupload-preview" id="p-ticket_img"></ul>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Free_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-free_money" data-rule="required" min="0" class="form-control" step="0.01" name="row[free_money]" type="number" value="{$row.free_money|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
