<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shop_id" data-rule="required" data-source="shop/index" class="form-control selectpage" name="row[shop_id]" type="text" value="{$row.shop_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Freight')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-freight" data-rule="required" class="form-control selectpicker" name="row[freight]">
                {foreach name="freightList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.freight"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Iscloud')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-iscloud" data-rule="required" class="form-control selectpicker" name="row[iscloud]">
                {foreach name="iscloudList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.iscloud"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Isauto')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-isauto" data-rule="required" class="form-control selectpicker" name="row[isauto]">
                {foreach name="isautoList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.isauto"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Secret')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-secret" class="form-control" name="row[secret]" type="text" value="{$row.secret|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-key" class="form-control" name="row[key]" type="text" value="{$row.key|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Partner_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-partner_id" data-rule="required" data-source="partner/index" class="form-control selectpage" name="row[partner_id]" type="text" value="{$row.partner_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Partner_key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-partner_key" class="form-control" name="row[partner_key]" type="text" value="{$row.partner_key|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Siid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-siid" class="form-control" name="row[siid]" type="text" value="{$row.siid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tempid')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tempid" class="form-control" name="row[tempid]" type="text" value="{$row.tempid|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Welcome')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-welcome" class="form-control " rows="5" name="row[welcome]" cols="50">{$row.welcome|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Send_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_name" class="form-control" name="row[send_name]" type="text" value="{$row.send_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Send_phone_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_phone_num" class="form-control" name="row[send_phone_num]" type="text" value="{$row.send_phone_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Send_addr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-send_addr" class="form-control " rows="5" name="row[send_addr]" cols="50">{$row.send_addr|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Return_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-return_name" class="form-control" name="row[return_name]" type="text" value="{$row.return_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Return_phone_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-return_phone_num" class="form-control" name="row[return_phone_num]" type="text" value="{$row.return_phone_num|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Return_addr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-return_addr" class="form-control " rows="5" name="row[return_addr]" cols="50">{$row.return_addr|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Modified')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-modified" class="form-control" name="row[modified]" type="number" value="{$row.modified|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
