<div class="sidenav">
	<ul class="list-group">
		<li class="list-group-heading">交易管理</li>
		<li class="list-group-item active"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 已卖出宝贝</a></li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 评论管理</a> </li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 退款管理</a> </li>
	</ul>
	<ul class="list-group">
		<li class="list-group-heading">物流管理</li>
		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 发货</a></li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 运费模板</a> </li>
	</ul>
	<ul class="list-group">
		<li class="list-group-heading">宝贝管理</li>
		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 发布宝贝</a></li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 出售中的宝贝</a> </li>
		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 仓库中的宝贝</a> </li>
	</ul>
	<ul class="list-group">
		<li class="list-group-heading">店铺管理</li>
		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 店铺装修</a></li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 类目管理</a> </li>
		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 店铺设置</a> </li>
	</ul>
	<ul class="list-group">
		<li class="list-group-heading">营销活动</li>
		<li class="list-group-item"> <a href="/index/user/index.html"><i class="fa fa-user-circle fa-fw"></i> 万联客</a></li>
		<li class="list-group-item "> <a href="/index/user/profile.html"><i class="fa fa-user-o fa-fw"></i> 拼团</a> </li>
		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 砍价</a> </li>
		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 卡券</a> </li>
		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 限时秒杀</a> </li>
		<li class="list-group-item "> <a href="/index/user/changepwd.html"><i class="fa fa-key fa-fw"></i> 减满</a> </li>
	</ul>
</div>