<div class="wanl-money-log">
	<div class="bg-white padding-xl margin-bottom-bj">
		<div class="span-center solid-bottom title">
			{if condition="$row.type"}
			<span>{$row.memo}</span>
			{else /} 
			<span>系统资金来往</span>
			{/if}
			{gt name="row.money" value="0"}
				<div class="wanl-black"> +{$row.money} </div>
			{else/}
				<div class="wanl-black"> {$row.money} </div>
			{/gt}
		</div>
		<div class="list margin-top-xl text-sm">
			{if condition="$row.type"} 
			<div class="flex">
				<div class="type wanl-gray"> 业务类型</div>
				<div class="info"> 
					<span class="label label-danger">{$typeList[$row.type]}</span>
				</div>
			</div>
			{else /} 
			<div class="flex">
				<div class="type wanl-gray"> 业务类型</div>
				<div class="info"> 
					<span class="label label-danger">系统其他业务</span>
				</div>
			</div>
			{/if}
			{notempty name="row.service_ids"}
			<div class="flex">
				<div class="type wanl-gray"> 业务ID </div>
				<div class="info"> {$row.service_ids} </div>
			</div>
			{/notempty}
			<div class="flex">
				<div class="type wanl-gray"> 创建时间 </div>
				<div class="info"> {$row.createtime_text} </div>
			</div>
			<div class="flex">
				<div class="type wanl-gray"> 变动后 </div>
				<div class="info text-price"> {$row.after} </div>
			</div>
			<div class="flex">
				<div class="type wanl-gray"> 变动前 </div>
				<div class="info text-price"> {$row.before} </div>
			</div>
		</div>
	</div>
</div>

<style>
	.wanl-money-log .title{
		padding: 10px 0 25px 0;
	}
	.wanl-money-log .title>div{
		font-size: 35px;
		font-weight: 600;
		margin-top: 7px;
	}
	.wanl-money-log .list .flex {
		margin-bottom: 13px;
	}
	.wanl-money-log .list .flex .type{
		width: 75px;
	}
	.wanl-money-log .list .flex .info{
		flex-grow: 1;
	}
	.wanl-gray{
		color: #999;
	}
	.span-center{
		text-align: center;
	}
	.flex{
		display: flex;
	}
	.bg-white{
		background-color: #fff;
	}
	.padding-xl{
		padding: 20px;
	}
	.margin-top-xl{
		margin-top: 20px;
	}
	.margin-bottom-bj{
		margin-bottom: 13px;
	}
	.text-price::before {
		content: "¥";
		font-size: 80%;
		margin-right: 4rpx;
	}
	.solid-bottom{
		border-bottom: 1px solid #ddd;
	}
	.text-cut-2 {
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}
</style>